@font-face {
    font-family: minhaFonte;
    src: url(../fonts/PlaywriteNZ-VariableFont_wght.ttf);
}

@font-face {
    font-family: minhaFonte2;
    src: url(../fonts/BitcountGridDoubleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap');


.font1 {
    font-family: "Bitcount Grid Double Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0,
        "SZP1" 0,
        "SZP2" 0,
        "XPN1" 0,
        "XPN2" 0,
        "YPN1" 0,
        "YPN2" 0;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-style: italic;

}

/* h2 {
    font-family: minhaFonte;

} */


h3 {
    font-family: minhaFonte2, cursive;
}

p {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    /* 16px = 1em = 100% <- tamanhos padrão de fonte  
    1.6em = 26px = 160%   
    */

    /* espaço entre linhas:width: */
    line-height: 2;

    /* identação da primeira linha */
    text-indent: 2em;

    /* decoração */
    text-decoration: overline;
    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: none;

    /* transformação do texto */
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;

    /* espaçamento entre letras */
    letter-spacing: -0.1em;
    word-spacing: 1.1em;
    text-align: justify;
}

a {
    text-decoration: none;
    color: green;
}

.italico {
    font-style: italic;
}

/* contato */